body {
    font-family: sans-serif;
}

.koszyk {
    height: 100px;
    width: 200px;
    display: block;
    position: absolute;
    top: 90px;
    right: 100px;
}

.brokul {
    height: 100px;
    width: 100px;
    display: block;
    position: absolute;
    top: 50px;
    left: 80px;
}

.kapusta {
    height: 130px;
    width: 130px;
    display: block;
    position: absolute;
    top: 150px;
    left: 65px;
}

.czosnek {
    height: 100px;
    width: 100px;
    display: block;
    position: absolute;
    top: 280px;
    left: 80px;
}

.pizza {
    height: 100px;
    width: 100px;
    display: block;
    position: absolute;
    top: 400px;
    left: 80px;
}

.popcorn {
    height: 100px;
    width: 100px;
    display: block;
    position: absolute;
    top: 500px;
    left: 80px;
}

.products>h2 {
    position: absolute;
    left: 200px;
}

.brokul>h2 {
    top: 20px;
    margin-left: -5px; 
}

.kapusta>h2 {
    top: 40px;
    margin-left: 12px;
}

.czosnek>h2 {
    top: 25px;
}

.pizza>h2 {
    top: 10px;
}

.popcorn>h2 {
    top: 40px;
}